---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import BlogCard from "../components/BlogCard.astro";

const allProjects = await Astro.glob("../pages/projects/*.{md,mdx}");
const allPosts = await Astro.glob("../pages/posts/*.{md,mdx}");
---

<Layout title="Welcome to Astro.">
  <main class="max-w-2xl mx-auto">
    <h1 class="text-gray-700">
      Welcome to <span
        class="bg-gradient-to-r from-green-400 to-blue-500 bg-clip-text text-transparent"
        >dvreed.com</span
      >
    </h1>

    <div class="mb-10">
      <h1 class="text-3xl border-b border-gray-300 mb-5 pb-1 text-gray-700">
        Projects
      </h1>
      <ul role="list" class="link-card-grid">
        {
          allProjects.map((post) => (
            <Card
              href={post.url}
              title={post.frontmatter.title}
              body={post.frontmatter.blurb}
            />
          ))
        }
      </ul>
    </div>

    <h1 class="text-3xl border-b border-gray-300 mb-5 pb-1 text-gray-700">
      Explorations
    </h1>
    <ul role="list" class="link-card-grid">
      {
        allPosts.map((post) => (
          <BlogCard
            href={post.url}
            title={post.frontmatter.title}
            date={post.frontmatter.date}
          />
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
