---
import BaseLayout from "./BaseLayout.astro";
import { Image } from "astro:assets";
import type { CollectionEntry } from 'astro:content';
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';
import { faGithub } from '@fortawesome/free-brands-svg-icons';
import { faExternalLinkAlt } from '@fortawesome/free-solid-svg-icons';

interface Props {
  frontmatter: CollectionEntry<'projects'>['data'];
}

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <main class="prose dark:prose-invert max-w-none">
  <h1
    class="lg:text-left text-center text-4xl font-bold border-b border-gray-300"
  >
    {frontmatter.title}
  </h1>

  <Image
    src={frontmatter.images[0]}
    alt="descriptive text"
    width={1200}
    height={200}
    format="png"
    class="object-cover w-full"
    sizes="100vw"
  />
  </main>
  <div class="flex justify-between items-center my-5">
      <div class="text-gray-600 text-sm">
          {
            frontmatter.startDate === frontmatter.endDate
              ? new Date(frontmatter.startDate).toLocaleDateString('en-US', {
                  year: 'numeric',
                  month: 'long',
                  day: 'numeric'
                })
              : `${new Date(frontmatter.startDate).toLocaleDateString('en-US', {
                  year: 'numeric',
                  month: 'long',
                  day: 'numeric'
                })} to ${new Date(frontmatter.endDate).toLocaleDateString('en-US', {
                  year: 'numeric',
                  month: 'long',
                  day: 'numeric'
                })}`
          }
      </div>

      <div class="flex gap-3 items-center">
        {frontmatter.repoURL && (
          <a 
            href={frontmatter.repoURL} 
            class="text-gray-600 hover:text-gray-900 transition-colors"
            title="View Code on GitHub"
            target="_blank"
            rel="noopener noreferrer"
          >
            <FontAwesomeIcon icon={faGithub} size="lg" />
          </a>
        )}
        {frontmatter.projectURL && (
          <a 
            href={frontmatter.projectURL} 
            class="text-gray-600 hover:text-gray-900 transition-colors"
            title="View Live Project"
            target="_blank"
            rel="noopener noreferrer"
          >
            <FontAwesomeIcon icon={faExternalLinkAlt} size="lg" />
          </a>
        )}
      </div>
  </div>

  <div class="mdx">
    <div class="prose lg:prose-xl max-w-none">
      <slot />
    </div>
  </div>
</BaseLayout>
